<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @RenderSection("scripts", false)
    <link rel="stylesheet" href="/module/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/module/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <header>
        @Html.Partial("_navbar")
    </header>
    <div class="container mt-3">
        @RenderBody()
    </div>

</body>
</html>
