@model Category
@{
    ViewData["Title"] = "Categories";
}


<form asp-controller="category" asp-action="Create" method="post">
    <input type="hidden" asp-for="CategoryId" />
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label">Category Name</label>
        <input class="form-control" asp-for="CategoryName">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<hr />
<a class="btn btn-dark" asp-controller="blog" asp-action="List">Back</a>
<hr />


<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.Categories)
            {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>
                <a class="btn btn-danger" asp-controller="category"
                   asp-action="Delete"
                   asp-route-id="@item.CategoryId">
                    Delete
                </a>
                <a class="btn btn-primary" asp-controller="category"
                   asp-action="Edit"
                   asp-route-id="@item.CategoryId">
                    Edit
                </a>
            </td>
        </tr>
            }
    </tbody>
</table>



