@model HomeSliderBlog

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

@section scripts{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}

<div class="row">
    <div class="col-md-3">

        @await Component.InvokeAsync("CategoryList")

    </div>
    <div class="col-md-9">

        @Html.Partial("_Slider", Model.SliderBlog)

        @Html.Partial("_blogList", Model.HomeBlog)

    </div>
</div>